<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (patient(); as patientRef) {
      <div>
        <h2 data-cy="patientDetailsHeading"><span jhiTranslate="gdpApp.patient.detail.title">Patient</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ patientRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.firstName">First Name</span></dt>
          <dd>
            <span>{{ patientRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.lastName">Last Name</span></dt>
          <dd>
            <span>{{ patientRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.birthDate">Birth Date</span></dt>
          <dd>
            <span>{{ patientRef.birthDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.gender">Gender</span></dt>
          <dd>
            <span [jhiTranslate]="'gdpApp.Gender.' + (patientRef.gender ?? 'null')">{{
              { null: '', MALE: 'MALE', FEMALE: 'FEMALE', OTHER: 'OTHER' }[patientRef.gender ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.bloodType">Blood Type</span></dt>
          <dd>
            <span>{{ patientRef.bloodType }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.address">Address</span></dt>
          <dd>
            <span>{{ patientRef.address }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.phone1">Phone 1</span></dt>
          <dd>
            <span>{{ patientRef.phone1 }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.phone2">Phone 2</span></dt>
          <dd>
            <span>{{ patientRef.phone2 }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.email">Email</span></dt>
          <dd>
            <span>{{ patientRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.nif">Nif</span></dt>
          <dd>
            <span>{{ patientRef.nif }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.ninu">Ninu</span></dt>
          <dd>
            <span>{{ patientRef.ninu }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.heightCm">Height Cm</span></dt>
          <dd>
            <span>{{ patientRef.heightCm }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.weightKg">Weight Kg</span></dt>
          <dd>
            <span>{{ patientRef.weightKg }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.passportNumber">Passport Number</span></dt>
          <dd>
            <span>{{ patientRef.passportNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.contactPersonName">Contact Person Name</span></dt>
          <dd>
            <span>{{ patientRef.contactPersonName }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.contactPersonPhone">Contact Person Phone</span></dt>
          <dd>
            <span>{{ patientRef.contactPersonPhone }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.antecedents">Antecedents</span></dt>
          <dd>
            <span>{{ patientRef.antecedents }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.allergies">Allergies</span></dt>
          <dd>
            <span>{{ patientRef.allergies }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.patient.user">User</span></dt>
          <dd>
            <span>{{ patientRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/patient', patientRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
