<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-medical-document-heading"
        data-cy="MedicalDocumentCreateUpdateHeading"
        jhiTranslate="gdpApp.medicalDocument.home.createOrEditLabel"
      >
        Créer ou éditer un Medical Document
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gdpApp.medicalDocument.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentNameRef = editForm.get('documentName')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentName" jhiTranslate="gdpApp.medicalDocument.documentName">Document Name</label>
          <input
            type="text"
            class="form-control"
            name="documentName"
            id="field_documentName"
            data-cy="documentName"
            formControlName="documentName"
          />
          @if (documentNameRef.invalid && (documentNameRef.dirty || documentNameRef.touched)) {
            <div>
              @if (editForm.get('documentName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentDate" jhiTranslate="gdpApp.medicalDocument.documentDate">Document Date</label>
          <div class="input-group">
            <input
              id="field_documentDate"
              data-cy="documentDate"
              type="text"
              class="form-control"
              name="documentDate"
              ngbDatepicker
              #documentDateDp="ngbDatepicker"
              formControlName="documentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="documentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        @let filePathRef = editForm.get('filePath')!;
        <div class="mb-3">
          <label class="form-label" for="field_filePath" jhiTranslate="gdpApp.medicalDocument.filePath">File Path</label>
          <input type="text" class="form-control" name="filePath" id="field_filePath" data-cy="filePath" formControlName="filePath" />
          @if (filePathRef.invalid && (filePathRef.dirty || filePathRef.touched)) {
            <div>
              @if (editForm.get('filePath')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let fileTypeRef = editForm.get('fileType')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileType" jhiTranslate="gdpApp.medicalDocument.fileType">File Type</label>
          <input type="text" class="form-control" name="fileType" id="field_fileType" data-cy="fileType" formControlName="fileType" />
          @if (fileTypeRef.invalid && (fileTypeRef.dirty || fileTypeRef.touched)) {
            <div>
              @if (editForm.get('fileType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_desc" jhiTranslate="gdpApp.medicalDocument.desc">Desc</label>
          <input type="text" class="form-control" name="desc" id="field_desc" data-cy="desc" formControlName="desc" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_patient" jhiTranslate="gdpApp.medicalDocument.patient">Patient</label>
          <select
            class="form-control"
            id="field_patient"
            data-cy="patient"
            name="patient"
            formControlName="patient"
            [compareWith]="comparePatient"
          >
            @if (!editForm.get('patient')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (patientOption of patientsSharedCollection; track $index) {
              <option [ngValue]="patientOption">{{ patientOption.firstName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['patient'])!.invalid && (editForm.get(['patient'])!.dirty || editForm.get(['patient'])!.touched)) {
          <div>
            @if (editForm.get(['patient'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
