<div class="px-3 py-4">
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
</div>

@if (authorities && authorities.length > 0) {
  <div class="w-card">
    <p-table
      [value]="authorities"
      [loading]="isLoading"
      [showLoader]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-end w-full">
          <p-button icon="pi pi-refresh" [label]="" (onClick)="load()" [disabled]="isLoading" [text]="true" />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'gdpApp.adminAuthority.name' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-authority>
        <tr>
          <td>{{ authority.name }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        @for (item of [1, 2, 3, 4, 5]; track item) {
          <tr>
            <td>
              <p-skeleton height=".5rem"></p-skeleton>
            </td>
          </tr>
        }
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2" class="text-center p-4">
            <span>{{ 'gdpApp.adminAuthority.home.notFound' | translate }}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
