<div>
  <h2 id="page-heading" data-cy="MedicalDocumentHeading">
    <span jhiTranslate="gdpApp.medicalDocument.home.title">MedicalDocuments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gdpApp.medicalDocument.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medical-document"
        [routerLink]="['/medical-document/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdpApp.medicalDocument.home.createLabel">Créer un nouveau Medical Document</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (medicalDocuments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gdpApp.medicalDocument.home.notFound">Aucun Medical Document trouvé</span>
    </div>
  }

  @if (medicalDocuments && medicalDocuments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentName">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.medicalDocument.documentName">Document Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentDate">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.medicalDocument.documentDate">Document Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="filePath">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.medicalDocument.filePath">File Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fileType">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.medicalDocument.fileType">File Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="desc">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.medicalDocument.desc">Desc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="patient.firstName">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.medicalDocument.patient">Patient</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (medicalDocument of medicalDocuments; track trackId(medicalDocument)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/medical-document', medicalDocument.id, 'view']">{{ medicalDocument.id }}</a>
              </td>
              <td>{{ medicalDocument.documentName }}</td>
              <td>{{ medicalDocument.documentDate | formatMediumDate }}</td>
              <td>{{ medicalDocument.filePath }}</td>
              <td>{{ medicalDocument.fileType }}</td>
              <td>{{ medicalDocument.desc }}</td>
              <td>
                @if (medicalDocument.patient) {
                  <div>
                    <a [routerLink]="['/patient', medicalDocument.patient.id, 'view']">{{ medicalDocument.patient.firstName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/medical-document', medicalDocument.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/medical-document', medicalDocument.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(medicalDocument)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (medicalDocuments && medicalDocuments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
