<div>
  <h2 id="page-heading" data-cy="PrescriptionItemHeading">
    <span jhiTranslate="gdpApp.prescriptionItem.home.title">PrescriptionItems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gdpApp.prescriptionItem.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prescription-item"
        [routerLink]="['/prescription-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdpApp.prescriptionItem.home.createLabel">Créer un nouveau Prescription Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (prescriptionItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gdpApp.prescriptionItem.home.notFound">Aucun Prescription Item trouvé</span>
    </div>
  }

  @if (prescriptionItems && prescriptionItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dosage">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.prescriptionItem.dosage">Dosage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequency">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.prescriptionItem.frequency">Frequency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="duration">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.prescriptionItem.duration">Duration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="medication.name">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.prescriptionItem.medication">Medication</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prescription.id">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.prescriptionItem.prescription">Prescription</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (prescriptionItem of prescriptionItems; track trackId(prescriptionItem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/prescription-item', prescriptionItem.id, 'view']">{{ prescriptionItem.id }}</a>
              </td>
              <td>{{ prescriptionItem.dosage }}</td>
              <td>{{ prescriptionItem.frequency }}</td>
              <td>{{ prescriptionItem.duration }}</td>
              <td>
                @if (prescriptionItem.medication) {
                  <div>
                    <a [routerLink]="['/medication', prescriptionItem.medication.id, 'view']">{{ prescriptionItem.medication.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (prescriptionItem.prescription) {
                  <div>
                    <a [routerLink]="['/prescription', prescriptionItem.prescription.id, 'view']">{{ prescriptionItem.prescription.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/prescription-item', prescriptionItem.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/prescription-item', prescriptionItem.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(prescriptionItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
