<!-- <div>
  <h2>
    <span id="user-management-page-heading" data-cy="userManagementPageHeading" jhiTranslate="userManagement.home.title">Utilisateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="userManagement.home.refreshListLabel">Actualiser la liste</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Créer un nouvel utilisateur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (users()) {
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="transition($event)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"></th>
            <th scope="col" jhiSortBy="langKey">
              <span jhiTranslate="userManagement.langKey">Langue</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"><span jhiTranslate="userManagement.profiles">Droits</span></th>
            <th scope="col" jhiSortBy="createdDate">
              <span jhiTranslate="userManagement.createdDate">Créé le</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <span jhiTranslate="userManagement.lastModifiedBy">Modifié par</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <span jhiTranslate="userManagement.lastModifiedDate">Modifié le</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (user of users(); track trackIdentity(user)) {
            <tr>
              <td>
                <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
              </td>
              <td>{{ user.login }}</td>
              <td>{{ user.email }}</td>
              <td>
                @if (!user.activated) {
                  <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" jhiTranslate="userManagement.deactivated">
                    Désactivé
                  </button>
                } @else {
                  <button
                    class="btn btn-success btn-sm"
                    (click)="setActive(user, false)"
                    [disabled]="!currentAccount() || currentAccount()?.login === user.login"
                    jhiTranslate="userManagement.activated"
                  >
                    Activé
                  </button>
                }
              </td>
              <td>{{ user.langKey }}</td>
              <td>
                @for (authority of user.authorities; track $index) {
                  <div>
                    <span class="badge bg-info">{{ authority }}</span>
                  </div>
                }
              </td>
              <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ user.lastModifiedBy }}</td>
              <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['./', user.login, 'edit']"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </button>

                  <button
                    type="button"
                    (click)="deleteUser(user)"
                    class="btn btn-danger btn-sm"
                    [disabled]="!currentAccount() || currentAccount()?.login === user.login"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems(), itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  }
</div> -->

@if (users()) {
  <div class="w-card">
    <p-table [value]="users() ?? []" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-end w-full">
          <p-button icon="pi pi-refresh" [label]="" (onClick)="loadAll()" [text]="true" />
          <p-button icon="pi pi-plus" label="nouvel utilisateur" (onClick)="showAddUserDialog()" class="ml-2" [text]="true" />
          <!-- [routerLink]="['./new']" -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="login">
            Login
            <p-sortIcon field="login" />
          </th>

          <th pSortableColumn="email">
            Email
            <p-sortIcon field="email" />
          </th>
          <!-- <th>Status
                <p-columnFilter field="activated" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="header">
                      <div class="px-3 pt-3 pb-0">
                          <span class="font-bold">Choisir un statut</span>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [ngModel]="value" [options]="statusOptions" placeholder="Any" 
                      (onChange)="filter($event.value)"  optionLabel="option.label">
                          <ng-template let-option pTemplate="item">
                              <div class="inline-block vertical-align-middle">
                                  <span class="ml-1 mt-1">{{ option.label }}</span>
                              </div>
                          </ng-template>
                      </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </th> -->
          <th>
            Status
            <p-columnFilter
              field="activated"
              matchMode="in"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            >
              <ng-template pTemplate="header">
                <div class="px-3 pt-1 pb-0">
                  <span class="font-bold">Choisir un statut</span>
                </div>
              </ng-template>

              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [ngModel]="value"
                  [options]="statusOptions"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Any"
                  (onChange)="filter($event.value)"
                >
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>Langue</th>
          <th>Droits</th>
          <!-- <th>Créé le</th>
              <th>Modifié par</th>
              <th>Modifié le</th> -->
          <th class="text-end">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <p-avatar
              label="{{ user.login?.charAt(0).toUpperCase() }}"
              styleClass="mr-2"
              size="large"
              [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
              shape="circle"
            />
          </td>
          <!-- <td>
                <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
              </td> -->
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>
            <p-inputSwitch
              [ngModel]="user.activated"
              (onChange)="setActive(user, $event.checked)"
              [disabled]="!currentAccount() || currentAccount()?.login === user.login"
            >
            </p-inputSwitch>
          </td>
          <td>{{ user.langKey }}</td>
          <td>
            <div class="mb-1">
              @for (authority of user.authorities; track $index) {
                <p-tag [value]="authority" severity="secondary"></p-tag>
                <!-- <span class="badge bg-info">{{ authority }}</span> -->
              }
            </div>
          </td>
          <!-- <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ user.lastModifiedBy }}</td>
              <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td> -->
          <td class="text-end">
            <!-- <div class="btn-group">
                  <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['./', user.login, 'edit']"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </button>

                  <button
                    type="button"
                    (click)="deleteUser(user)"
                    class="btn btn-danger btn-sm"
                    [disabled]="!currentAccount() || currentAccount()?.login === user.login"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div> -->
            <div class="flex items-center justify-end gap-2">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-eye"
                (click)="showUserDetails(user)"
                class="p-button-rounded p-button-text p-button-info"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                (click)="showEditUserDialog(user)"
                class="p-button-rounded p-button-text"
              ></button>
              <!-- [routerLink]="['./', user.login, 'edit']" -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}

<!-- <p-dialog 
    [(visible)]="displayUserDialog" 
    [style]="{width: '450px'}" 
    [header]="'Détails utilisateur'" 
    [modal]="true" 
    styleClass="p-fluid">
    @if (selectedUser) {
        <div class="flex flex-col gap-4 p-4">
            <div class="flex justify-center mb-4">
                <p-avatar 
                    [label]="selectedUser.login?.charAt(0)?.toUpperCase()"
                    styleClass="mr-2" 
                    size="xlarge" 
                    [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" 
                    shape="circle" />
            </div>
            
            <div class="grid">
                <div class="col-4 font-semibold">Login:</div>
                <div class="col-8">{{selectedUser.login}}</div>
                
                <div class="col-4 font-semibold">Email:</div>
                <div class="col-8">{{selectedUser.email}}</div>
                
                <div class="col-4 font-semibold">Status:</div>
                <div class="col-8">
                    <p-tag 
                        [value]="selectedUser.activated ? 'Activé' : 'Désactivé'"
                        [severity]="selectedUser.activated ? 'success' : 'danger'">
                    </p-tag>
                </div>
                
                <div class="col-4 font-semibold">Langue:</div>
                <div class="col-8">{{selectedUser.langKey}}</div>
                
                <div class="col-4 font-semibold">Droits:</div>
                <div class="col-8">
                    <div class="flex flex-wrap gap-2">
                        @for (authority of selectedUser.authorities; track $index) {
                            <p-tag [value]="authority" severity="info"></p-tag>
                        }
                    </div>
                </div>
                
                <div class="col-4 font-semibold">Créé le:</div>
                <div class="col-8">{{selectedUser.createdDate | date:'dd/MM/yy HH:mm'}}</div>
                
                <div class="col-4 font-semibold">Modifié le:</div>
                <div class="col-8">{{selectedUser.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</div>
            </div>
        </div>
    }
    
    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2">
            <p-button 
                (click)="closeDialog()" 
                label="Fermer" 
                styleClass="p-button-text">
            </p-button>
        </div>
    </ng-template>
</p-dialog> -->

<p-dialog
  [(visible)]="displayUserDetailDialog"
  [style]="{ width: '650px' }"
  [header]="'Détails utilisateur'"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="closeDetailDialog()"
>
  <jhi-user-mgmt-detail [user]="selectedUser" (closeEvent)="closeDetailDialog()"> </jhi-user-mgmt-detail>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button (click)="closeDetailDialog()" label="Fermer" styleClass="p-button-text"> </p-button>
    </div>
  </ng-template>
</p-dialog>
@if (selectedUser) {
  <p-dialog
    [(visible)]="displayUserFormDialog"
    [style]="{ width: '650px' }"
    [header]="'Modifier un utilisateur'"
    [modal]="true"
    styleClass="p-fluid"
    (onHide)="closeFormDialog(false)"
  >
    <jhi-user-mgmt-update [user]="selectedUser" (closeEvent)="closeFormDialog($event)"> </jhi-user-mgmt-update>
  </p-dialog>
} @else {
  <p-dialog
    [(visible)]="displayUserFormDialog"
    [style]="{ width: '650px' }"
    header="Créer un utilisateur"
    [modal]="true"
    styleClass="p-fluid"
    (onHide)="closeFormDialog(false)"
  >
    <jhi-user-mgmt-update (closeEvent)="closeFormDialog($event)"> </jhi-user-mgmt-update>
  </p-dialog>
}
