<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-configuration-heading"
        data-cy="UserConfigurationCreateUpdateHeading"
        jhiTranslate="gdpApp.userConfiguration.home.createOrEditLabel"
      >
        Créer ou éditer un User Configuration
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gdpApp.userConfiguration.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let twoFactorEnabledRef = editForm.get('twoFactorEnabled')!;
        <div class="mb-3">
          <label class="form-label" for="field_twoFactorEnabled" jhiTranslate="gdpApp.userConfiguration.twoFactorEnabled"
            >Two Factor Enabled</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="twoFactorEnabled"
            id="field_twoFactorEnabled"
            data-cy="twoFactorEnabled"
            formControlName="twoFactorEnabled"
          />
          @if (twoFactorEnabledRef.invalid && (twoFactorEnabledRef.dirty || twoFactorEnabledRef.touched)) {
            <div>
              @if (editForm.get('twoFactorEnabled')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_twoFactorSecret" jhiTranslate="gdpApp.userConfiguration.twoFactorSecret"
            >Two Factor Secret</label
          >
          <input
            type="text"
            class="form-control"
            name="twoFactorSecret"
            id="field_twoFactorSecret"
            data-cy="twoFactorSecret"
            formControlName="twoFactorSecret"
          />
        </div>

        @let receiveEmailNotifsRef = editForm.get('receiveEmailNotifs')!;
        <div class="mb-3">
          <label class="form-label" for="field_receiveEmailNotifs" jhiTranslate="gdpApp.userConfiguration.receiveEmailNotifs"
            >Receive Email Notifs</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="receiveEmailNotifs"
            id="field_receiveEmailNotifs"
            data-cy="receiveEmailNotifs"
            formControlName="receiveEmailNotifs"
          />
          @if (receiveEmailNotifsRef.invalid && (receiveEmailNotifsRef.dirty || receiveEmailNotifsRef.touched)) {
            <div>
              @if (editForm.get('receiveEmailNotifs')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="gdpApp.userConfiguration.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            @if (!editForm.get('user')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
