<div>
  <h2 id="page-heading" data-cy="DoctorProfileHeading">
    <span jhiTranslate="gdpApp.doctorProfile.home.title">DoctorProfiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gdpApp.doctorProfile.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-doctor-profile"
        [routerLink]="['/doctor-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdpApp.doctorProfile.home.createLabel">Créer un nouveau Doctor Profile</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (doctorProfiles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gdpApp.doctorProfile.home.notFound">Aucun Doctor Profile trouvé</span>
    </div>
  }

  @if (doctorProfiles && doctorProfiles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="specialty">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.doctorProfile.specialty">Specialty</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="licenseNumber">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.doctorProfile.licenseNumber">License Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="university">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.doctorProfile.university">University</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDateOfPractice">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.doctorProfile.startDateOfPractice">Start Date Of Practice</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.doctorProfile.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (doctorProfile of doctorProfiles; track trackId(doctorProfile)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/doctor-profile', doctorProfile.id, 'view']">{{ doctorProfile.id }}</a>
              </td>
              <td>{{ doctorProfile.specialty }}</td>
              <td>{{ doctorProfile.licenseNumber }}</td>
              <td>{{ doctorProfile.university }}</td>
              <td>{{ doctorProfile.startDateOfPractice | formatMediumDate }}</td>
              <td>
                {{ doctorProfile.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/doctor-profile', doctorProfile.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/doctor-profile', doctorProfile.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(doctorProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
