<div>
  <h2 id="page-heading" data-cy="LabTestCatalogHeading">
    <span jhiTranslate="gdpApp.labTestCatalog.home.title">LabTestCatalogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gdpApp.labTestCatalog.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lab-test-catalog"
        [routerLink]="['/lab-test-catalog/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdpApp.labTestCatalog.home.createLabel">Créer un nouveau Lab Test Catalog</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (labTestCatalogs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gdpApp.labTestCatalog.home.notFound">Aucun Lab Test Catalog trouvé</span>
    </div>
  }

  @if (labTestCatalogs && labTestCatalogs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.labTestCatalog.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unit">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.labTestCatalog.unit">Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceRangeLow">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.labTestCatalog.referenceRangeLow">Reference Range Low</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceRangeHigh">
              <div class="d-flex">
                <span jhiTranslate="gdpApp.labTestCatalog.referenceRangeHigh">Reference Range High</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (labTestCatalog of labTestCatalogs; track trackId(labTestCatalog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/lab-test-catalog', labTestCatalog.id, 'view']">{{ labTestCatalog.id }}</a>
              </td>
              <td>{{ labTestCatalog.name }}</td>
              <td>{{ labTestCatalog.unit }}</td>
              <td>{{ labTestCatalog.referenceRangeLow }}</td>
              <td>{{ labTestCatalog.referenceRangeHigh }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/lab-test-catalog', labTestCatalog.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/lab-test-catalog', labTestCatalog.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(labTestCatalog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
