<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-lab-test-catalog-heading"
        data-cy="LabTestCatalogCreateUpdateHeading"
        jhiTranslate="gdpApp.labTestCatalog.home.createOrEditLabel"
      >
        Créer ou éditer un Lab Test Catalog
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gdpApp.labTestCatalog.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="gdpApp.labTestCatalog.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let unitRef = editForm.get('unit')!;
        <div class="mb-3">
          <label class="form-label" for="field_unit" jhiTranslate="gdpApp.labTestCatalog.unit">Unit</label>
          <input type="text" class="form-control" name="unit" id="field_unit" data-cy="unit" formControlName="unit" />
          @if (unitRef.invalid && (unitRef.dirty || unitRef.touched)) {
            <div>
              @if (editForm.get('unit')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_referenceRangeLow" jhiTranslate="gdpApp.labTestCatalog.referenceRangeLow"
            >Reference Range Low</label
          >
          <input
            type="number"
            class="form-control"
            name="referenceRangeLow"
            id="field_referenceRangeLow"
            data-cy="referenceRangeLow"
            formControlName="referenceRangeLow"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_referenceRangeHigh" jhiTranslate="gdpApp.labTestCatalog.referenceRangeHigh"
            >Reference Range High</label
          >
          <input
            type="number"
            class="form-control"
            name="referenceRangeHigh"
            id="field_referenceRangeHigh"
            data-cy="referenceRangeHigh"
            formControlName="referenceRangeHigh"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
