<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-consultation-heading" data-cy="ConsultationCreateUpdateHeading" jhiTranslate="gdpApp.consultation.home.createOrEditLabel">
        Créer ou éditer un Consultation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gdpApp.consultation.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let consultationDateRef = editForm.get('consultationDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_consultationDate" jhiTranslate="gdpApp.consultation.consultationDate"
            >Consultation Date</label
          >
          <div class="d-flex">
            <input
              id="field_consultationDate"
              data-cy="consultationDate"
              type="datetime-local"
              class="form-control"
              name="consultationDate"
              formControlName="consultationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (consultationDateRef.invalid && (consultationDateRef.dirty || consultationDateRef.touched)) {
            <div>
              @if (editForm.get('consultationDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('consultationDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_symptoms" jhiTranslate="gdpApp.consultation.symptoms">Symptoms</label>
          <textarea class="form-control" name="symptoms" id="field_symptoms" data-cy="symptoms" formControlName="symptoms"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_diagnosis" jhiTranslate="gdpApp.consultation.diagnosis">Diagnosis</label>
          <textarea class="form-control" name="diagnosis" id="field_diagnosis" data-cy="diagnosis" formControlName="diagnosis"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prescription" jhiTranslate="gdpApp.consultation.prescription">Prescription</label>
          <select
            class="form-control"
            id="field_prescription"
            data-cy="prescription"
            name="prescription"
            formControlName="prescription"
            [compareWith]="comparePrescription"
          >
            <option [ngValue]="null"></option>
            @for (prescriptionOption of prescriptionsCollection; track $index) {
              <option [ngValue]="prescriptionOption">{{ prescriptionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_doctor" jhiTranslate="gdpApp.consultation.doctor">Doctor</label>
          <select
            class="form-control"
            id="field_doctor"
            data-cy="doctor"
            name="doctor"
            formControlName="doctor"
            [compareWith]="compareUser"
          >
            @if (!editForm.get('doctor')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['doctor'])!.invalid && (editForm.get(['doctor'])!.dirty || editForm.get(['doctor'])!.touched)) {
          <div>
            @if (editForm.get(['doctor'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_patient" jhiTranslate="gdpApp.consultation.patient">Patient</label>
          <select
            class="form-control"
            id="field_patient"
            data-cy="patient"
            name="patient"
            formControlName="patient"
            [compareWith]="comparePatient"
          >
            @if (!editForm.get('patient')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (patientOption of patientsSharedCollection; track $index) {
              <option [ngValue]="patientOption">{{ patientOption.firstName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['patient'])!.invalid && (editForm.get(['patient'])!.dirty || editForm.get(['patient'])!.touched)) {
          <div>
            @if (editForm.get(['patient'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
