<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (medication(); as medicationRef) {
      <div>
        <h2 data-cy="medicationDetailsHeading"><span jhiTranslate="gdpApp.medication.detail.title">Medication</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ medicationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.medication.name">Name</span></dt>
          <dd>
            <span>{{ medicationRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gdpApp.medication.description">Description</span></dt>
          <dd>
            <span>{{ medicationRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/medication', medicationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
