<!-- <div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">Réinitialiser son mot de passe</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success()) {
        <div class="alert alert-warning">
          <span jhiTranslate="reset.request.messages.info">Veuillez renseigner l&apos;adresse email utilisée pour vous enregistrer</span>
        </div>
        <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @let emailRef = resetRequestForm.get('email')!;
            @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
              <div>
                @if (emailRef?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required"
                    >Votre email est requis.</small
                  >
                }
                @if (emailRef?.errors?.email) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid"
                    >Votre email n&apos;est pas valide.</small
                  >
                }

                @if (emailRef?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                    >Votre email doit comporter au moins 5 caractères.</small
                  >
                }

                @if (emailRef?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                    >Votre email ne doit pas comporter plus de 50 caractères.</small
                  >
                }
              </div>
            }
          </div>
          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            data-cy="submit"
            jhiTranslate="reset.request.form.button"
          >
            Réinitialiser le mot de passe
          </button>
        </form>
      } @else {
        <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success"
            >Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.</span
          >
        </div>
      }
    </div>
  </div>
</div> -->

<div class="h-full flex items-center justify-center card">
  <!-- Container principal -->
  <div class="w-full max-w-6xl shadow-2xl rounded-lg border-2 overflow-hidden">
    <!-- Contenu principal -->
    <p-card>
      <div class="flex min-h-[500px] p-0 m-0">
        <!-- Section gauche avec ligne diagonale -->
        <div class="flex-1 relative flex items-center justify-center">
          <!-- Contenu texte -->
          <div class="z-10 text-center px-5">
            <img src="../../../content/images/gdp.png" alt="GDP logo" class="h-24 w-auto" />
            <h2 class="text-2xl font-bold">GESTION DOSSIER PATIENT</h2>
            <p class="text-xl font-medium" jhiTranslate="login.slogan">Soins Innovants chaque jour</p>
          </div>

          <!-- Ligne diagonale -->
          <div class="absolute right-0 top-0 w-24 h-full transform skew-x-12 border-r-2 border-gray-900 bg-blue-600 shadow-lg z-20"></div>
        </div>

        <!-- Section droite - Formulaire de connexion -->
        <div class="flex-1 flex items-center justify-center py-5 px-8">
          <div class="w-full max-w-md space-y-6">
            <div class="text-center -pt-4 pb-3">
              <h2 class="text-xl font-medium">
                <span class="pi pi-key text-xl mr-1"></span>
                <span jhiTranslate="reset.request.title">Réinitialiser son mot de passe</span>
              </h2>
            </div>

            <jhi-alert-error></jhi-alert-error>

            @if (success()) {
              <div
                class="alert-info flex items-center gap-3 px-4 py-2 mb-2 rounded-xl border border-blue-200 bg-gradient-to-r from-blue-50 to-blue-100 text-blue-700 animate-slideIn"
              >
                <i class="pi pi-info-circle text-lg"></i>
                <div>
                  <span jhiTranslate="reset.request.messages.success">
                    Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.
                  </span>
                </div>
              </div>
            } @else {
              <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="">
                  <p-floatLabel styleClass="w-full">
                    <input pInputText id="email" formControlName="email" type="text" class="w-full text-base" #email />
                    <label for="email" jhiTranslate="global.form.email.placeholder">email</label>
                  </p-floatLabel>
                  @let emailRef = resetRequestForm.get('email')!;
                  @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
                    <div>
                      @if (emailRef?.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required"
                          >Votre email est requis.</small
                        >
                      }
                      @if (emailRef?.errors?.email) {
                        <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid"
                          >Votre email n&apos;est pas valide.</small
                        >
                      }

                      @if (emailRef?.errors?.minlength) {
                        <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                          >Votre email doit comporter au moins 5 caractères.</small
                        >
                      }

                      @if (emailRef?.errors?.maxlength) {
                        <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                          >Votre email ne doit pas comporter plus de 50 caractères.</small
                        >
                      }
                    </div>
                  }
                </div>

                <!-- Bouton de connexion    [disabled]="loading || loginForm.invalid"-->
                <div class="mt-9 flex justify-end">
                  <p-button
                    [label]="'reset.request.form.button' | translate"
                    styleClass="sel font-medium"
                    type="submit"
                    data-cy="submit"
                    icon="pi pi-key  "
                  >
                  </p-button>
                </div>
              </form>
            }
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
